.af-hl {
  font-weight: bold;
  margin: 0 0.1em;
  padding: 0.1em 0.2em;
}

.af-hl__marker {
  background: linear-gradient(to bottom, transparent 60%, #ff99ff 60%) !important;
}

.af-hl__marker.-color-green {
  background: linear-gradient(to bottom, transparent 60%, #99ff99 60%) !important;
}

.af-hl__marker.-color-yellow {
  background: linear-gradient(to bottom, transparent 60%, #ffff99 60%) !important;
}

.af-hl__dotted-underline {
  border-bottom: 3px dotted #f14668;
}

.af-balloon {
  margin-bottom: 2rem;
  flex-direction: row;
  display: flex;
}

.af-balloon.-side-left .af-balloon__text:before {
  left: -20px;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}

.af-balloon.-side-left .af-balloon__text:after {
  left: -18px;
  border-right: 10px solid #fff;
}

.af-balloon.-side-right .af-balloon__text:before {
  right: -20px;
  border-left: 10px solid rgba(0, 0, 0, 0.2);
}

.af-balloon.-side-right .af-balloon__text:after {
  right: -18px;
  border-left: 10px solid #fff;
}

.af-balloon.-side-right .af-balloon__avatar {
  margin-left: 20px;
  order: 2;
}

.af-balloon .af-balloon__avatar {
  position: relative;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.af-balloon .af-balloon__text {
  position: relative;
  border-radius: 5px;
  padding: 20px 30px;
  width: auto;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.af-balloon .af-balloon__text:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border: 10px solid transparent;
}

.af-balloon .af-balloon__text:after {
  border: 10px solid transparent;
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

.af-rank {
  position: relative;
  padding: 30px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
}

.af-rank .af-rank__badge {
  font-size: 20px;
  font-weight: bold;
  height: 35px;
  left: -40px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 20px;
  transform: rotate(-45deg);
  width: 155px;
  border: 1px solid #e7e7e7;
  color: #333;
}

.af-rank .af-rank__container {
  display: flex;
  margin-bottom: 10px;
  padding: 0;
}

.af-tldr {
  border: 4px solid #f14668;
  padding: 4px;
}

.af-tldr.-shape-rounded {
  border-radius: 15px;
}

.af-tldr.-color-green {
  border-color: #48c774;
}

.af-tldr.-color-green .af-tldr__title {
  border-bottom-color: #48c774;
}

.af-tldr .af-tldr__title {
  border-bottom: 1px solid #f14668;
  border-top: none;
  padding: 3px;
  font-size: 2rem;
}

.af-tldr .af-tldr__content li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.af-tldr .af-tldr__content li:before {
  content: '';
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 12px;
  margin-right: 10px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}

.af-heading__ribbon {
  position: relative;
  padding: 0.5em;
  margin-bottom: 20px;
}

.af-heading__ribbon::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #959e9b;
}

.af-heading__ribbon.-color-green {
  color: white;
  background-color: #48c774;
}

.af-heading__underline {
  color: #0a0a0a;
  border-bottom-with: 3px;
  border-bottom-style: solid;
  border-bottom-color: #3273dc;
}

.af-heading__underline.-color-green {
  border-bottom-color: #48c774;
}

.af-heading__leftline {
  padding: 0.25rem 0.5rem;
  color: #0a0a0a;
  background: transparent;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #3273dc;
}

.af-heading__leftline.-color-green {
  border-left-color: #48c774;
}

/*# sourceMappingURL=affily.css.map */