.af-tldr {
    border: 4px solid $red;
    padding: 4px;

    &.-shape-rounded {
        border-radius: 15px;
    }
    &.-color-green {
        border-color: $green;
        .af-tldr__title {
            border-bottom-color: $green;
        }
    }

    .af-tldr__title {
        border-bottom: 1px solid $red;
        border-top: none;
        padding: 3px;
        font-size: 2rem;

    }

    .af-tldr__content {
        li {
            list-style: none;
            font-size: 1.5rem;
            font-weight: bold;

            &:before {
                content: '';
                display: inline-block;
                transform: rotate(45deg);
                height: 24px;
                width: 12px;
                margin-right: 10px;
                border-bottom: 7px solid #78b13f;
                border-right: 7px solid #78b13f;
            }
        }

    }
}
