.highlight {
    pre {
        background-color: transparent;
        font-size: 0.875em;
        line-height: 1.375;
    }

    .c {
        color: #93a1a1;
    }
    .err,.g {
        color: #586e75;
    }
    .k {
        color: #859900;
    }
    .l,.n {
        color: #586e75;
    }
    .m,.s {
        color: #2aa198;
    }
    .na {
        color: #b58900;
    }
    .nt,.nv {
        color: #268bd2;
    }
}
