@charset "utf-8";

@import "../affily";

@import "./_scss/highlight";
@import "./_scss/example";

.af-tldr {
    margin-bottom: 40px;
}
p {
    margin-bottom: 30px;
}
h4 {
    font-weight: bold;
    margin-bottom: 2rem;
}
